<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        html {
            /*background-color: black;*/
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
            height: 100%;
            max-height: 100%;
            background-color: #e9ebee;
        }

        .white {
            color: white;
            text-shadow: 1px 1px 5px black;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            line-height: 60px; /* Vertically center the text there */
            background-color: #f5f5f5;
            /*height: 140px;*/
        }

        .dropdown-menu {
            width: 400%;
        }

        .dropdown-menu {
            right: 0;
            left: auto;
            width: 50%;
        }

        .content-box {
            border: 1px solid #dddfe2;
            /*position: relative;*/
            /*word-wrap: break-word;*/
            background-color: #fff;
            border-radius: 3px;
            margin: 10px;
        }

        .content-wrapper {
            padding: 12px;
            width: 100%;
            min-width: 100%;
        }

        #run_table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: x-small;
        }

        #run_table td, #run_table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #run_table tr:nth-child(even){background-color: #f2f2f2;}

        /*#run_table tr:hover {background-color: #ddd;}*/

        #run_table th {
            /*padding-top: 12px;*/
            /*padding-bottom: 12px;*/
            /*text-align: left;*/
            /*background-color: #4CAF50;*/
            /*color: white;*/

            background-color: #f6f7f9;
            border-bottom: 1px solid #dddfe2;
            border-radius: 2px 2px 0 0;
            font-weight: bold;
        }
        .fa-minus:hover {
            background-color: lightgray;
            border-radius: 25px;
            border: lightgray solid 5px;
            /*margin: 5px;*/

        }
        .fa-minus {
            border: transparent solid 5px;
        }
        .navbar {
            background-color: #4267b2;
        }

        .navbar-brand > b {
            /*font-size: 130%;*/
            color: white;
            height: 43px;
            /*text-shadow: 0px 0.25px 5px darkmagenta;*/
        }

        .nav-link {
            color: white;
        }
    </style>
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/base.css') }}">#}
        {#<link rel="stylesheet" href="./assets/css/base.css">#}
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav id="navbar" class="navbar navbar-toggleable-md bg-faded navbar-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('start') }}"><b>SuperRun</b></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {#<li class="nav-item">#}
                    {#<a class="nav-link {% if page_title == 'Übersicht' %} active {% endif %}"#}
                       {#href="{{ path('overview') }}">Übersicht</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link {% if page_title == 'Läuferübersicht' %} active {% endif %}"#}
                       {#href="{{ path('run_overview') }}">Läuferübersicht</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link {% if page_title == 'Detailansicht' %} active {% endif %}"#}
                       {#href="{{ path('detail_view') }}">Detailansicht</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link {% if page_title == 'Neuer Eintrag' %} active {% endif %}"#}
                       {#href="{{ path('input') }}">Neuer Eintrag</a>#}
                {#</li>#}
            </ul>
            <ul class="navbar-nav ml-auto">
                <form class="navbar-form" role="search" method="post" action="{{ path('search') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_USER') %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('profile', {'id': app.user.id}) }}" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username|title }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('profile', {'id': app.user.id}) }}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <strong>{{ app.user.username|title }}</strong>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('logout') }}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Abmelden
                            </a>
                        </div>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
<br>
{% block body %}{% endblock %}
{% block footer %}
    <footer class="footer text-center">
        <div class="container">
        <span class="text-muted">
            <a href="404">Impressum</a>
            <a href="404">FAQ</a>
            <p>© Samuel Erb</p>
        </span>
        </div>
    </footer>
{% endblock %}
<script rel="script" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script rel="script" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}
</body>
</html>